.profile {
  width: 900px;
  margin: 20px auto;
  padding: 20px;

  &__user-info {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__avatar {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  &__user-avatar {
    max-width: 100%;
  }
  
  &__btn-save {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #3fb580;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }
}