* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3fb580;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 940px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 5px #dddddd;
  background-color: #fafafa;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

.header {
  margin: 10px 0;
  display: flex;
}

.user {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;

  &__name {
    color: #aaa;
    font-size: 18px;
  }

  &__avatar {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.line {
  margin: 0 10px;
  color: #ccc;
  border: 1px solid #ccc;
}

.profile {
  width: 900px;
  margin: 20px auto;
  padding: 20px;

  &__user-info {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__avatar {
    padding: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.form__user-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.btn {
  border: none;
  width: 200px;
  height: 40px;
  background-color:#3fb580;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.input {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: none;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 10px 0;
}

.form-save {
  margin: 0 auto;
}